
.wrapper {
    width:100%; height:auto;
    padding: 0;
    ;
}

#header {
    width:100%; min-height: 100px;   
    font-size: larger;
    padding-left: 50px;
   
}

#main-container {
    width: 65%; display: inline-block;
    padding-left: 20px;
}
#sidebar {
    width:29%; min-height: 600px;
    display: inline-block;
    background-color:rgb(3, 252, 140); 
    color: black;
    vertical-align: top;

}
#sidebar h3 {
    background-color: black;
    color: rgb(3, 252, 140);
    height: 30px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    padding-top: 5px;
}
img {
    width: 85%;
    height: auto;
    padding: 10px;
    align-content: center;
    border-radius: 50%;
  }
#education {
    width: 100%; min-height: 200px; 
    padding-bottom:10px
}

#experience {
    width:100%; min-height: 200px;
}

#references {
    width:100%; min-height: 200px;
}


#profile {
    width:100%; min-height: 100px;
}

#contact {
    width:100%; min-height: 300px
}
#contact p {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-top: -20px;

}
#about {
    width:100%; min-height: 200px
}
#about p {
    width: 80%;
    margin: auto;
    text-align: left;
    margin-top: -20px;
    padding-top: 10px;padding-bottom: 10px;
    min-height:300px;
    
}

#hobbies {
    width:100%; min-height: 200px
}
#hobbies p{
    border-radius: 150%;
    color:black;
    margin: auto;
    width: 80%;
    text-align: center;
}

#hobbies p i{
    font-size: 40px;
}
.date {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding-left: 5px;

}

.description {
    width: 68%;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}
.title {
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}  
#main-container i {
    color:rgb(3, 252, 140);
}
hr {
    color: rgb(3, 252, 140);
}
.name{
    color: rgb(3, 252, 140);
}
.underline{
    border-bottom:rgb(3, 252, 140) solid 2px;
}

body {
    background-color: rgb(244, 248, 248);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}